option_settings:
  - option_name: DB_DRIVER_CLASS
    value: "org.mariadb.jdbc.Driver"
  - option_name: DB_JDBC_URL
    value: "jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?useSSL=true&autoReconnect=true&validationQuery=select 1&useUnicode=true&characterEncoding=UTF-8&serverSslCert=/root/querypie/config/rds-combined-ca-bundle.pem"
  - option_name: DB_USERNAME
    value: "${DB_USERNAME}"
  - option_name: DB_PASSWORD
    value: "${DB_PASSWORD}"
  - option_name: DB_MAX_CONNECTION_SIZE
    value: "20"